html, body {
  scrollbar-width: auto;
  scrollbar-color: #9803FC #141414;
}

body {
    background-color: #141414;
    color: white;
}

.head, .main, .footer {
  .montserrat {
    font-family: "Montserrat", serif;
  }

  .ps2p {
      font-family: "Press Start 2P", serif;
  }
  .button {
    font-family: "Press Start 2P", serif;
    font-size: 20px;
    background-color: #9803FC;
    color: white;
    padding: 12px 21px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .back{
  margin-top: 100px;
  background-position: top;
  background-image: url("../img/Fon.svg");
  background-repeat: no-repeat;
  background-size: 1352px;
  } 
  video {
    box-shadow: 0px 0px 50px #9803fc51;
    border-radius: 20px;
  }
  h1 {
    font-size: 40px;
    margin: 0;
    line-height: 55px;
    font-weight: 500;
  }
}

.head {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #141414;
    padding: 26px 0;
    .head-wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 1440px;
      width: 100%;
      gap: 85px;
      margin: 0;
    }
    .head-info {
        display: flex;
        align-items: center;
        gap: 62px;
    }
    .menu {
        display: flex;
        gap: 62px;
        list-style-type: none;
        font-size: 24px;
    }
    .menu a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: white;
    }
    .menu a:before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background: white;
        transform: scaleX(0);
        transform-origin: right center;
        transition: transform .25s cubic-bezier(.42, 0, .16, .96);
    }
    .menu a:hover:before {
        transform: none;
        transform-origin: left center;
    }
}

/*

  #container {
    color:#ffffff;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    padding-top:200px;  
    position:fixed;
    width:100%;
    bottom:45%;
    display:block;
  }
  
  #flip {
    height:50px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#9803FC;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  p {
    position:fixed;
    width:100%;
    bottom:30px;
    font-size:12px;
    color:#999;
    margin-top:200px;
  } */

body {font-family: Arial, Helvetica, sans-serif;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: #0c001471;
  .modal-content {
    background-color: #151515;
    margin: 15% auto;
    padding: 35px;
    border-radius: 10px;
    width: 578px;
    .modal-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 22px;
    }
    .modal-info {
      display: flex;
      gap: 34px;
      margin: 0;
      overflow: hidden;
    }
    .modal-img {
      height: 170px;
      width: 170px;
      cursor: pointer;
      transition: 1s;
      display: block;
    }
    .modal-name-age {
      display: flex;
      flex-direction: column;
      gap: 22px;
    }
    .input {
      font-family: "Montserrat", serif;
      background-color: #272727;
      font-weight: 600;
      border: none;
      outline: none;
      border-radius: 12px;
      font-size: 25px;
      width: 348px;
      height: 61px;
      padding: 10px 0px 10px 26px;
      color: white;
    }
    .modal-btn {
      padding: 23px 26px;
      font-size: 25px;
      width: 576px;
    }
    .modal-text {
      margin: 0;
      text-align: justify;
      font-size: 19px;
      line-height: 25px;
      a {
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
  .close {
    position: absolute;
    color: #ffffff84;
    margin: -15px 0 0 572px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.5s;
  }

  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;
  .main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 202px;
    gap: 177px;
  }
}

.intro {
  display: flex;
  justify-content: space-between;
  max-width: 1265px;
  width: 100%;
  .intro-img {
    border-radius: 10px;
  }
  
  .intro-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    h1 {
      font-size: 40px;
      margin: 0;
      line-height: 55px;
      font-weight: 500;
    }
    h2 {
      font-size: 30px;
      margin: 0;
      line-height: 55px;
      font-weight: 500;
    }
    p {
      text-align: justify;
      font-size: 30px;
      width: 593px;
      margin: 56px 0;
      line-height: 46px;
    }
    a {
      margin: 0; 
      font-size: 30px;
      color: white;
      position: relative;
      text-decoration: none;
      transition: all 0.2s;
      font-weight: 500;
      line-height: 46px;
    }
    a:hover {
      color: #9803FC;
      font-weight: 700;
    }
    a:before {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 91%;
      height: 1px;
      background: #9803FC;
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform .25s cubic-bezier(.42, 0, .16, .96);
    }
    
    a:hover:before {
        transform: none;
        transform-origin: left center;
    }
  }
}

.about-us{
  display: flex;
  justify-content: space-between;
  max-width: 1265px;
  width: 100%;

  .about-us-img{
    border-radius: 10px;
  }

  .about-us-text{
    display: flex;
    flex-direction: column;
    margin: 0;
    h1 {
      font-size: 40px;
      margin: 0;
      line-height: 55px;
      font-weight: 500;
    }
    h2 {
      font-size: 30px;
      margin: 0;
      line-height: 55px;
      font-weight: 500;
    }
    p {
      text-align: justify;
      font-size: 30px;
      width: 593px;
      margin: 56px 0;
      line-height: 46px;
    }
    a {
      margin: 0; 
      font-size: 30px;
      color: white;
      position: relative;
      text-decoration: underline;
      transition: all 0.2s;
      font-weight: 500;
      line-height: 46px;
    }
    a:hover {
      color: #9803FC;
      font-weight: 700;
    }
    .about-us-us{
      display: flex;
      justify-content: space-between;
    }
  }
}

.reviews{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1265px;
  width: 100%;
  .reviews-text{
    display: flex;
    flex-direction: column;
    margin: 0;
    h1 {
      font-size: 40px;
      margin: 0;
      line-height: 55px;
      font-weight: 500;
    }
    h2 {
      font-size: 30px;
      margin: 0;
      line-height: 55px;
      font-weight: 500;
    }
    p {
      text-align: justify;
      font-size: 30px;
      width: 593px;
      margin: 56px 0;
      line-height: 46px;
    }
    a {
      margin: 0; 
      font-size: 30px;
      color: white;
      position: relative;
      text-decoration: underline;
      transition: all 0.2s;
      font-weight: 500;
      line-height: 46px;
    }
    a:hover {
      color: #9803FC;
      font-weight: 700;
    }
  }
}

.course {
  display: flex;
  flex-direction: column;
  gap: 60px;
  h1 {
    margin-left: 107px;
  }
  p {
    font-size: 30px;
    font-weight: 500;
    line-height: 46px;
    max-width: 600px;
    width: 100%;
    text-align: justify;
    margin-left: 107px;
  }
  a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
  }
  .blocks {
    display: flex;
    gap: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 1440px;
    width: 100%;
    .block1 {
     background-color: #5C5C5C;
    } 
    .block2 {
      background-color: #4C4C4C;
    } 
    .block3 {
      background-color: #3A3A3A;
    }
    .block4 {
      background-color: #272727;
    }
    .block1:hover {
      background-color: #9803FC;
    }
    .block1-1 {
      background-color: #9803FC;
   }
    .block1, .block2, .block3, .block4, .block1-1, .block2-2, .block3-3, .block4-4 {
      cursor: pointer;
      transition: all 0.5s;
      display: flex;
      flex-direction: column;
      width: 324px;
      height: 438px;
      padding: 15px 18px;
      h3 {
        font-size: 40px;
        border-bottom: 3px solid white;
        margin: 0;
        padding-bottom: 3px;
        font-weight: normal;
      }
      h4 {
        font-size: 20px;
        margin: 20px 0px 185px 0px;
        font-weight: normal;
      }
      p { 
        font-size: 24px;
        font-weight: bold;
        line-height: 29px;
        margin: 0;
        text-align: justify;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1254px;
    width: 100%;
    padding: 77px 0 ;
    .contacts {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .footer-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }
    p {
      font-size: 30px;
      font-weight: 500;
    }
  }
}

.block-one, .block-two, .block-three, .block-four {
  display: flex;
  justify-content: space-between;
  max-width: 1265px;
  align-items: center;
  width: 100%;
  img{
     padding: 100px;
  }
  .block-one-text, .block-two-text, .block-three-text, .block-four-text {
     display: flex;
     flex-direction: column;
     margin: 0;
     h1 {
     font-size: 40px;
     margin: 0;
     line-height: 55px;
     font-weight: 500;
     }
     h2 {
     font-size: 30px;
     margin: 0;
     line-height: 55px;
     font-weight: 500;
     }
     p {
     text-align: justify;
     font-size: 30px;
     width: 593px;
     margin: 56px 0;
     line-height: 46px;
     }
     a {
     margin: 0; 
     font-size: 30px;
     color: white;
     position: relative;
     text-decoration: none;
     transition: all 0.2s;
     font-weight: 500;
     line-height: 46px;
     }
     a:hover {
     color: #9803FC;
     font-weight: 700;
     }
     a:before {
     content: '';
     position: absolute;
     bottom: 8px;
     left: 0;
     width: 63%;
     height: 1px;
     background: #9803FC;
     transform: scaleX(0);
     transform-origin: right center;
     transition: transform .25s cubic-bezier(.42, 0, .16, .96);
     }
     
     a:hover:before {
        transform: none;
        transform-origin: left center;
     }
  }
}

.info-block-two, .info-block-three {
  display: flex;
  flex-direction: column;
  gap: 75px;
  h2 {
     font-size: 24px;
     font-weight: normal;
  }
  .html-strs-mini {
     display: flex;
     gap: 64px;
  }
  .html-str, .html-str-mini {
     background-color: #101010;
     border-radius: 30px;
     height: 210px;
     padding: 15px 26px;
  }
  .html-str {
     width: 1202px;
  }
  .html-str-mini {
     width: 541px;
  }
  .html-str-info, .html-str-info-mini {
     display: flex;
     justify-content: center;
     gap: 89px;
     font-family: "JetBrains Mono", serif;
     font-size: 27px;
     font-weight: 500;
     line-height: 29px;
     p {
        margin-top: 15px;
     }
  }
  .html-str-info-mini {
     align-items: center;
     p {
        margin-top: 20px;
     }
  }
  p {
     width: 546px;
  }
  .purple {
     color: #9803FC;
  }
  i {
     font-weight: 300;
  }
}
